/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*ThemeColors: Verde Scuro: #2d3e50    | 	Verde Acqua: #19bd9a;
 * 
 * Giallo: #FFC950     |  	 Verde Acqua old: #28C8AC
 * 
 * 
 * 
 * 
 * 
 * */
*{
	-custom-primary: #28C8AC;
	-custom-secondary: #19bd9a;
	-custom-hover-primary: white;
	-custom-hover-secondary:white;
}

/*Background */
.backgroundPane{
	-fx-background-color: -custom-primary;	
}

/****************************************************************************************/


/*************************************HamMenu*******************************************/

.hamMenu StackPane{
	-fx-background-color: white;
}
.hamMenu:hover{
	-fx-background-color: -fx-shadow-highlight-color;
}
.menuButton:hover{
	-fx-background-color: -fx-shadow-highlight-color;
}
.menuButton{
	-fx-background-position: left;
	-fx-background-position: 10px 50%;
	-fx-background-size: 50px;
	-fx-background-repeat: no-repeat;
	-fx-text-alignment: right;
}
#menuUserButton{
	-fx-background-image: url('../../images/maleUser.png');
}
#menuUserButton:hover{
	-fx-background-image: url('../../images/maleUserHover.png');
}
#menuSettingsButton{
	-fx-background-image: url('../../images/settings.png');
}
#menuSettingsButton:hover{
	-fx-background-image: url('../../images/settingsHover.png');
}
#menuCloseButton{
	-fx-background-image: url('../../images/close.png');
}
#menuCloseButton:hover{
	-fx-background-image: url('../../images/closeHover.png');
}
#menuPane{
	-fx-background-color: -custom-secondary;
}

/****************************************************************************************/

#topPane{
	-fx-background-color: -custom-primary;
}


.weekday-header {
    -fx-font: bold 17px "System";
    -fx-font-style: normal;
    -fx-background-color:  #4163ad;
    -fx-border-style: solid;
    -fx-border-insets: 1;
    -fx-border-width: .2;
    -fx-border-color: white;
}

.shadowPane{
	-fx-background-color:  black;
}
.calendarPane{
	-fx-background-color: white;
}

.calendar_pane:hover{
	-fx-effect: dropshadow(gaussian , purple, 10, 0.9, 0, 0)
}

#titleClose:hover{
	-fx-background-color:red;
}
#titleBack:hover{
	-fx-background-color:#849fc9;
}
.animationPane{
	-fx-background-color :  gray;
}
.settingsPane{
	-fx-background-color:  #28C8AC;
}

.windows{
	
}

.root {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: transparent;
}

#mainPane {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: transparent;
}

.tab-header-background{
 	 -fx-background-color: -custom-secondary;
 }



