/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.hamMenu StackPane{
	-fx-background-color: white;
}
.hamMenu:hover{
	-fx-background-color: -fx-shadow-highlight-color;
}
.menuButton:hover{
	-fx-background-color: -fx-shadow-highlight-color;
}
.menuButton{
	-fx-background-position: left;
	-fx-background-position: 10px 50%;
	-fx-background-size: 50px;
	-fx-background-repeat: no-repeat;
	-fx-text-alignment: right;
}
#menuUserButton{
	-fx-background-image: url('../../images/maleUser.png');
}
#menuUserButton:hover{
	-fx-background-image: url('../../images/maleUserHover.png');
}
#menuSettingsButton{
	-fx-background-image: url('../../images/settings.png');
}
#menuSettingsButton:hover{
	-fx-background-image: url('../../images/settingsHover.png');
}
#menuCloseButton{
	-fx-background-image: url('../../images/close.png');
}
#menuCloseButton:hover{
	-fx-background-image: url('../../images/closeHover.png');
}
#menuPane{
	-fx-background-color:  #28C8AC;
}

#topPane{
	-fx-background-color:  #FFC950;
}

.weekday-header {
    -fx-font: bold 17px "System";
    -fx-font-style: normal;
    -fx-background-color:  #4163ad;
    -fx-border-style: solid;
    -fx-border-insets: 1;
    -fx-border-width: .2;
    -fx-border-color: white;
}

<<<<<<< HEAD
.shadowPane{
	-fx-background-color:  black;
}
.calendarPane{
	-fx-background-color: white;
}
.menuProfileLabel{
	
	
	
	
	
}
.menuProfilePane{
	
=======
.calendar_pane {
    -fx-border-color: black;
    -fx-background-color: #c1c1c1;
    -fx-background-image: url('../../images/plus.png');
    -fx-background-size: 32px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-border-width: .2;
	-fx-border-color: grey;
>>>>>>> 18e48a9b74f75379c293a7424e5240191080a624
}