/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#hamMenu StackPane {
	-fx-background-color: white;
}

#menuPane{
	-fx-background-color:  #28C8AC;
}

#topPane{
	-fx-background-color:  #FFC950;
}

.weekday-header {
    -fx-font: bold 17px "System";
    -fx-font-style: normal;
    -fx-background-color:  #4163ad;
    -fx-border-style: solid;
    -fx-border-insets: 1;
    -fx-border-width: .2;
    -fx-border-color: white;
}

.calendarPane {
	
	
}