/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.myDialog{
    -fx-background-color: #28C8AC;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #28C8AC;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
  
}

.dialog {
	
	 -fx-background-color: #2d3e50;
}

.button{
	-fx-text-fill: #19bd9a;
}

.addButton{
	-fx-background-color: #19bd9a;
	
}